section( id="remember" )
  h1
    a( href="/" ) Remember this URL...

  form( action="/remember", method="POST" )
    input( type="url", name="url", autofocus, placeholder="http://example.com/ Example URL & Title" )
